body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, sans-serif;
}

body  * {
  box-sizing: border-box;
}

.todo {
  width: 50%;
  margin: 25px auto 0;
  padding: 25px;
  background-color: #f2f2f2;
  border-radius: 10px;
  min-height: 50vh;
}

.todo__input {
  display: block;
  min-width: 300px;
  margin: 0 auto;
  border: 1px solid #999999;
  border-top: 1px solid rgba(0,0,0,.7);
  background-color: white;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 24px;
  padding: 0 15px;
  transition: .3s;
}

.todo__tip {
    display: block;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    color: #999;
    margin: 10px 0 25px;
}

.todo__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo__item {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0 35px 0 15px;
    align-items: center;
    height: 30px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: .3s;
}

.todo__item:hover {
    border: 1px solid #999;
    background-color: white;
}

.todo__item:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    transform: translateY(-50%);
    height: 1px;
    background-color: #999;
    transition: .3s;
}

.todo__item_disabled:after {
    width: 100%;
}

.todo__num {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0,0,0,.7);
}

.todo__text {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-left: 15px;
}

.todo__status {
    display: block;
    margin-left: auto;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}

.todo__status_done {
    color: green;
}

.todo__status_progress {
    color: red;
}

.todo__checkbox {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
}